{% extends 'base.html' %}

{% block content %}
    

    <h1>Le lion, le roi des animaux</h1>
        <article>Les lions ont des yeux ambre voire jaunes et une truffe noire. Leurs oreilles, couleur sable, sont arrondies. Leurs canines peuvent atteindre six centimètres de long 4. 
            Leur langue est recouverte de papilles cornées recourbées leur permettant de saisir la nourriture, mais aussi de se débarrasser des parasites</article>

    <h1>Le tigre pas le roi mais le plus fort</h1>
        <article>Le Tigre (Panthera tigris) est une espèce de mammifère carnivore de la famille des félidés (Felidae) du genre Panthera. 
                Aisément reconnaissable à sa fourrure rousse rayée de noir, 
                il est le plus grand félin sauvage et l'un des plus grands carnivores terrestres. 
                L'espèce est divisée en neuf sous-espèces présentant des différences mineures de taille ou de comportement. 
                Superprédateur, il chasse principalement les cerfs et les sangliers, bien qu'il puisse s'attaquer à des proies de taille plus importante comme les buffles. 
                Jusqu'au xixe siècle, le tigre était réputé mangeur d'hommes. 
        </article>

{% endblock %}


